@use 'palette';

$color-bg-main: palette.$purple-100;
$card-bg: palette.$white;

$color-text-primary: palette.$purple-900;
$color-text-secondary: palette.$gray-400;
$color-text-unavailable: palette.$gray-400;

$color-border-completed: palette.$white;
$color-border-current: palette.$orange-500;
$color-border-unavailable: palette.$gray-400;

$color-icon-completed: palette.$teal-500;
$color-icon-current: palette.$teal-500;
$color-icon-unavailable: palette.$gray-400;

$color-accent: palette.$teal-500;
$color-warning: palette.$orange-500;

$spiner-border-color: palette.$white;
